<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" >

    <title>Compiler</title>
  </head>
  <body>
    <h1>Compiler</h1>
  <form method="post">
      {% if not code %}
      <div class="form-group">
<select class="form-control" name="lang" required placeholder="Language" />
    
<option name="python">Python</option>
    <option name="javascript">JavaScript</option>
<option name="java">Java</option>
<option name="c">C</option>
<option name="cpp">C++</option>
<option name="bash">Bash</option>
<option name="awk">Awk</option>
<option name="brainfuck">Brainfuck</option>
<option name="cjam">Cjam</option>
<option name="clojure">Clojure</option>
<option name="cobol">Cobol</option>
<option name="coffeescript">CoffeeScript</option>
<option name="cow">Cow</option>
<option name="crystal">Crystal</option>
<option name="d">D Lang</option>
<option name="dotnet">Dotnet</option>
<option name="dragon">Dragon</option>
<option name="elixir">Elixir</option>
<option name="erlang">Erlang</option>
<option name="emacs">Emacs</option>
<option name="fortan">Fortan</option>
<option name="go">Go</option>
<option name="golfscript">GolfScript</option>
<option name="groovy">Groovy</option>
<option name="haskell">Haskell</option>
<option name="jelly">Jelly</option>
<option name="julia">Julia</option>
<option name="lisp">Lisp</option>
<option name="kotlin">Kotlin</option>
<option name="lolcode">Lolcode</option>
<option name="lua">Lua</option>
<option name="mono">Mono</option>
<option name="nasm">Nasm</option>
<option name="nasm64">Nasm64</option>
<option name="nim">Nim</option>
<option name="ocaml">Ocaml</option>
<option name="octave">Octave</option>
<option name="osabie">Osabie</option>
<option name="paradoc">Paradoc</option>
<option name="pascal">Pascal</option>
<option name="perl">Perl</option>
<option name="php">PHP</option>
<option name="ponylang">Ponylang</option>
<option name="pure">Pure</option>
<option name="pyth">Pyth</option>
<option name="prolog">Prolog</option>
<option name="python2">Python (v2)</option>
<option name="raku">Raku</option>
<option name="rockstar">Rockstar</option>
<option name="ruby">Ruby</option>
<option name="rust">Rust</option>
<option name="scala">Scala</option>
<option name="swift">Swift</option>
<option name="typescript">Typescript</option>
<option name="vlang">Vlang</option>
<option name="yeethon">Yeethon</option>
<option name="zig">Zig</option>
</select><hr>
      <textarea class="form-control" style="width: 99%;" name="code"  type="text" required placeholder="Your Code"></textarea><hr>
         <!-- Optional JavaScript -->
      <button class="btn btn-primary" type="submit" >Run</button></div>
  {% else %}
      <div class="form-group">
<select class="form-control" name="lang" required placeholder="Language" />
    
<option name="python">Python</option>
    <option name="javascript">JavaScript</option>
<option name="java">Java</option>
<option name="c">C</option>
<option name="cpp">C++</option>
<option name="bash">Bash</option>
<option name="awk">Awk</option>
<option name="brainfuck">Brainfuck</option>
<option name="cjam">Cjam</option>
<option name="clojure">Clojure</option>
<option name="cobol">Cobol</option>
<option name="coffeescript">CoffeeScript</option>
<option name="cow">Cow</option>
<option name="crystal">Crystal</option>
<option name="d">D Lang</option>
<option name="dotnet">Dotnet</option>
<option name="dragon">Dragon</option>
<option name="elixir">Elixir</option>
<option name="erlang">Erlang</option>
<option name="emacs">Emacs</option>
<option name="fortan">Fortan</option>
<option name="go">Go</option>
<option name="golfscript">GolfScript</option>
<option name="groovy">Groovy</option>
<option name="haskell">Haskell</option>
<option name="jelly">Jelly</option>
<option name="julia">Julia</option>
<option name="lisp">Lisp</option>
<option name="kotlin">Kotlin</option>
<option name="lolcode">Lolcode</option>
<option name="lua">Lua</option>
<option name="mono">Mono</option>
<option name="nasm">Nasm</option>
<option name="nasm64">Nasm64</option>
<option name="nim">Nim</option>
<option name="ocaml">Ocaml</option>
<option name="octave">Octave</option>
<option name="osabie">Osabie</option>
<option name="paradoc">Paradoc</option>
<option name="pascal">Pascal</option>
<option name="perl">Perl</option>
<option name="php">PHP</option>
<option name="ponylang">Ponylang</option>
<option name="pure">Pure</option>
<option name="pyth">Pyth</option>
<option name="prolog">Prolog</option>
<option name="python2">Python (v2)</option>
<option name="raku">Raku</option>
<option name="rockstar">Rockstar</option>
<option name="ruby">Ruby</option>
<option name="rust">Rust</option>
<option name="scala">Scala</option>
<option name="swift">Swift</option>
<option name="typescript">Typescript</option>
<option name="vlang">Vlang</option>
<option name="yeethon">Yeethon</option>
<option name="zig">Zig</option>
</select><hr>
      <textarea textvalue="{{ code }}" class="form-control" style="width: 99%;" name="code"  type="text" required placeholder="Your Code"></textarea><hr>
         <!-- Optional JavaScript -->
      <button class="btn btn-primary" type="submit" >Run</button></div>
      {% endif %}
  </form>
      <h1>Output:</h1><div class="boxed">
      {% if not output %}
      <p>Run the Code to see Output</p>
      {% else %}
      <p>{{ output }}</p>{% endif %}</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"/></sript>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js//bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>